-----BEGIN CERTIFICATE-----
MIIDnTCCAoUCFAvrjkhfbyZiMIBOf/jnrHpN9EoJMA0GCSqGSIb3DQEBBQUAMIGK
MQswCQYDVQQGEwJUVzEPMA0GA1UECAwGVGFpd2FuMQ8wDQYDVQQHDAZUYWlwZWkx
DDAKBgNVBAoMA0lJSTEPMA0GA1UECwwGRGV2T3BzMRYwFAYDVQQDDA1Kb25hdGhh
biBUc2FpMSIwIAYJKoZIhvcNAQkBFhNqb25hdGhhbkBpaWkub3JnLnR3MB4XDTI1
MDQxMjAyMjkzN1oXDTM1MDQxMDAyMjkzN1owgYoxCzAJBgNVBAYTAlRXMQ8wDQYD
VQQIDAZUYWl3YW4xDzANBgNVBAcMBlRhaXBlaTEMMAoGA1UECgwDSUlJMQ8wDQYD
VQQLDAZEZXZPcHMxFjAUBgNVBAMMDUpvbmF0aGFuIFRzYWkxIjAgBgkqhkiG9w0B
CQEWE2pvbmF0aGFuQGlpaS5vcmcudHcwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAw
ggEKAoIBAQDH5M02CQSAf7iDG6nRsN/BsHE0roXzK/e0qZVn6xj5asXk6Nmc2K1m
nY/MuszEedhjkvuvm1rYR1hqh0FQHTYsVM/MH2EIkeY5uY7IEgS19s3JnNQ7Mh5N
2gvoRekOXYmvIM4nioq8fBOAzhgGof5ivqscOSNoW30yIvsGb/LxNSM2jLqKAOCx
5KWvjnCnagZa+2NXjgQx0iyxkocAQXfGRUBwBZDJ9Mlk+NG1q73OEqc6gRKleTSp
brwa7Y2xi+k9l5I6BtpwQVj7lv8T2JK8Dk+ddWMhVEDcpOwu45pBYyMu+CbJ7YLj
UzAL/RBcdDsY3qcEuhmcaxQxgdWNq/kJAgMBAAEwDQYJKoZIhvcNAQEFBQADggEB
AGPocilT8YEIJGCUQsCwIqA7nbJc/9rcfPsfXP8ooXnm27fCrcwac2zk8iLQwp7k
qF0fSCuQzdynadUTKwW4mWKxBEqOuawQhYhWyc8TUyvAdnL54heqHUH7R1v+tIiG
U9fKLiN6xIsw1ZNrIUE42dcdSRJZPw9PkyI4dmw8NKU4H9K2Tn/V4RjfHvxVPNvG
DM0cHHOGZtIoXDiFOIyhxi1qO3ENkrDUq6Ok5/i4AiXwKNB1BS1W56AmrH4+S+Hn
18i2wMlL15l8kzRthca4QWNjGpVGT3+OWTrd5eziVGclb0FZ2IJr5Si/YO+A3tIf
cbWAJk4q9eh0WRLH5ABA+II=
-----END CERTIFICATE-----
